<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/login.css" rel="stylesheet">
    <script src="js/changePage.js"></script>
    <title>login</title>
</head>
<body>
<div id="logo">
    <img src="../image/logo-orange.svg">
</div>

<form action="/login" method="post" id="login">
    <input type="email" id="email" name="email" placeholder="이화 이메일" required>
    <input type="password" id="password" name="password" placeholder="비밀번호" required>
    <button class="btn" type="submit" id="button">로그인</button>
    <div class="btn" onclick="changePage('signup')" id="signUp">회원가입</div>
    <button onclick="changePage('/event/detail?event_id=1')">클릭</button>
</form>
</body>
</html>
